{# templates/confirmation/index.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Confirmation Page</title>
	</head>
	<body>
		<h1>Confirmation</h1>
		<p>votre mail est envoyer avec success.</p>
	</body>
</html>

